.loading-wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0 ,0 , 0.8);
    z-index: 111;
    display: flex;
    justify-content: center;
    align-items: center;

    .loading {
        animation: rotate-icon 1s ease-in-out infinite;
    }
}

.loading-hide {
    display: none !important;
}

@keyframes rotate-icon {
    0% {
        transform: rotate(0deg);
    }

    50% {
        color: #fff;
        text-shadow:  0 0 10px #fff,  0 0 15px rgba(255, 255, 255, 0.514);
    }

    100% {
        transform: rotate(360deg);
    }
}