.sidebar-item {
    position: relative;
}

.video-react {
    padding: 0 !important;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
    z-index: -1;
    video {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover !important;
    }
}